@using TicketSalePoint.Models;
@using TicketSalePoint.ViewModels;

@model TicketSalePoint.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Заказ №" +ViewData["CurrentOrderId"];
	Order order = Model.Orders.FirstOrDefault(t=>t.id==Convert.ToInt32(ViewData["CurrentOrderId"])  );
}

<h2>
	<b>
		Заказ номер @order.id от @order.OrderDate
	</b>
<h2>
<h3>
	Комментарий к заявке @order.Comments
<h3>
<h3>
	Рассчетная стоимость @order.InitialCost
<h3>

<table class="table">
    <tr>
		<th>ФИО</th>	
		<th>номер телефона</th>
		<th>Возраст</th>
		<th>Ребенок?</th>
    </tr>

	
@foreach (User c in order.Customers)
{
     <tr>
        <td>@c.firstName</td>
     	<td>@c.phoneNumber</td>
		<td>@c.age</td>
    	<td>@c.isChildren</td>
	</tr>
}
</table>
<a href="/home">Назад к списку</a>